/*产品*/

.wrapper_list1{position:absolute;z-index:1;top:0;bottom:0;left:0;width:100%;overflow:auto;background:#fefefe}

#navlist{width:100%;z-index:9998;display:-webkit-box;height:39px;left:0!important;background:#fff;position:absolute;top:45px}
#navlist ul{-webkit-box-flex:1;border-bottom:1px solid #eee}
#navlist ul li{overflow:hidden;display:-webkit-box;float:left;width:50%;height:39px;-webkit-box-align:center;-webkit-box-pack:center;color:#666;font:normal 14px microsoft yahei;position:relative;text-align:center;vertical-align:middle;}
.iconDown{height:0;border-left:4px solid transparent!important;border-right:4px solid transparent!important;border-top:4px solid #b0ada7!important;display:inline-block;margin-left:10px;vertical-align:middle;}
.iconTop{height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid #b0ada7;display:inline-block;margin-left:10px;vertical-align:middle;}
#navlist ul li:last-child{background:url(../images/li_hovre_03.png) no-repeat left center;background-size:1px 24px;}
#navlist ul li:nth-child(1) span{background:url(../images/icon3.png) no-repeat left;background-size:16px}
#navlist ul li:nth-child(2) span{background:url(../images/icon4.png) no-repeat left;background-size:16px}
#navlist ul li:nth-child(1) span b{display:inline-block;width:80px;overflow:hidden;}
#navlist ul li span{padding-left:28px}
#navlist ul li i{position:absolute;left:50%;top:34px;width:14px;height:20px;background:#fff}
#navlist ul li i:before{content:'';display:block;position:absolute;width:12px;height:12px;border-left:1px solid #d2d2d2;border-top:1px solid #d2d2d2;-webkit-transform:scaleY(0.9) rotateZ(45deg);top:0;left:1px}

#content{position:relative;bottom:0!important;z-index:1;background:#fff;left:0!important;width:100%}
#porduct{display:-webkit-box;-webkit-box-orient:vertical;}
#porduct dl{padding:20px 0;overflow:hidden;border-bottom:1px solid #eee;margin:0 3%}
#porduct dl dt{float:left;margin-right:10px;display:-webkit-box;-webkit-box-flex:1;-webkit-box-align:center;-webkit-box-pack:center;width:25%}
#porduct dl{padding:10px 0;overflow:hidden;border-bottom:1px solid #eee;margin:0 0 0 10px;height:1.6rem}
#porduct dl dt{float:left;margin-right:10px;display:-webkit-box;-webkit-box-flex:1;-webkit-box-align:center;-webkit-box-pack:center;width:25%;height:1.6rem;overflow:hidden}
#porduct dl dt img{margin-bottom:-4px}
#porduct dl dd p:nth-child(1){font-size:15px;color:#444;height:.8rem;margin-bottom:.05rem;line-height:.4rem;overflow:hidden;}
#porduct dl dd p:nth-child(2){font-size:.36rem;color:#ff5000}
#porduct dl dd p:nth-child(3){font-size:.24rem;color:#999;margin-top:.1rem}
#porductlist{padding-top:40px;}
.sortBox{background:#fff}
.sort_pos{position:absolute;width:100%;display:-webkit-box;left:0;z-index:999;background:#fff;top:0;/*box-shadow:0 30px 30px #000;*/}
.navbar h1.left_center{margin-left:50px}
.sort_one{max-height:240px;-webkit-box-orient:vertical;-webkit-box-flex:1;/*overflow-y:scroll!important;*/width:90px;}
.sort_ul{background:#fff;z-index:9999;border-right:1px solid #fff;padding-left:15px;}
.sort_ul li{background:0;line-height:34px;color:#000}
.sort_ul li.cur:first-of-type a{color:#ff5000}
.sort_ul li .all{color:#ff5000}
.sort_ul li a{}
.sort_chlid{background:#fff;border-right:1px solid #fff;padding-left:15px;}
.sort_ul .cur{background:#fff;border-bottom:1px solid #ff5000;}
.sort_ul .cur a{color:#ff5000;}
.sort_chlid li{line-height:34px}
.sort_chlid li a{}
.sort_chlid li.cur:first-of-type a{color:#ff5000}
.sort_chlid .cur{background:#fff;border-bottom:1px solid #ff5000;}
.sort_chlid .cur a{color:#ff5000;}
.sort_chlids{background:#fff;width:96%;padding-left:15px}
.sort_chlids li{border-bottom:1px solid #eee;color:#000;line-height:34px}
.sort_chlids li.on{border-bottom:1px solid #ff5000}
.sort_chlids li.on a{color:#ff5000}
.sort_chlids li a{}
.sort_chlids.list li a{padding-left:0;display:block}
.sort_chlids li:last-chlid{border:0}
.sort_two{-webkit-box-orient:vertical;-webkit-box-flex:1;height:240px;overflow:scroll;width:90px;}
.sort_three{-webkit-box-orient:vertical;-webkit-box-flex:1.44;height:240px;overflow:scroll}

.list{margin-left:10px;}